body{
	background-color: #232323;
	margin:0;
	font-family:"Montserrat","Avenir";
}

.square{
	width: 30%;
	background:blue;
	padding-bottom:30%;
	float:left;
	margin:1.6%;
	border-radius: 45%;
	transition: background-color .7Ss;
	-webkit-transition:background-color .7Ss;
	-moz-transition:background-color .7Ss;
}

#container{
	max-width:600px;
	margin:20px auto; 
}
h1{
	color:white;
	text-align: center;
	background-color: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding:20px 0;
}

#colorDisplay{
	font-size: 200%;

}

#message{
	color:black;
	display: inline-block;
	width: 20%;
}

#stripe{
	background-color:white;
	height: 30px;
	text-align: center;
}

.selected{
	background-color:steelblue;
	color:white;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .4s;
	outline:none;
	-webkit-transition:all .4Ss;
	-moz-transition:all .4Ss;
}

button:hover{
	color:white;
	background-color: steelblue;

}